{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 card shadow p-4">
        <h3>Schedule Sitter</h3>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Start Date & Time</label>
                <input type="datetime-local" name="start_time" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">End Date & Time</label>
                <input type="datetime-local" name="end_time" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Send Request</button>
        </form>
    </div>
</div>
{% endblock %}